/* Base theme */
.bn-container[data-color-scheme] {
    --bn-font-family: var(--lc-font-sans-serif);
    color-scheme: normal;
    scrollbar-color: light-dark(#a0a0a0, #828282) transparent;
    /*MAYBE: Update scrollbar colors*/
}

/* Changes for dark mode */
.bn-container[data-color-scheme="dark"] {
    color-scheme: dark;

    /*Highlighting colors*/
    --bn-colors-highlights-gray-text: #a5a49f;
    --bn-colors-highlights-gray-background: #434241;
    --bn-colors-highlights-brown-text: #8e6552;
    --bn-colors-highlights-brown-background: #43342e;
    --bn-colors-highlights-red-text: #d13e3e;
    --bn-colors-highlights-red-background: #632929;
    --bn-colors-highlights-orange-text: #d7720b;
    --bn-colors-highlights-orange-background: #6d441c;
    --bn-colors-highlights-yellow-text: #dfab01;
    --bn-colors-highlights-yellow-background: #7d6824;
    --bn-colors-highlights-green-text: #33b751;
    --bn-colors-highlights-green-background: #396142;
    --bn-colors-highlights-blue-text: #1f92d5;
    --bn-colors-highlights-blue-background: #2c4d67;
    --bn-colors-highlights-purple-text: #925ee3;
    --bn-colors-highlights-purple-background: #4c3e63;
    --bn-colors-highlights-pink-text: #e52d9b;
    --bn-colors-highlights-pink-background: #772857;

    /*Border color*/
    --bn-border: 1px solid var(--color-border); /*Editor background color*/
    /*--bn-colors-editor-background: #0c1019; /*was: #0f141f*/
    --bn-colors-editor-background: #1c2026; /*was: #d1d1d1 in neutral theme */

    /*Editor text color*/
    --bn-colors-editor-text: #d2d2d2; /*originally: #cfcfcf*/
}

.bn-container[data-color-scheme="light"] {
    /*Editor text color*/
    /*TODO: Maybe add a subtile blue hue to it.*/
    --bn-colors-editor-text: #3e3e3e; /*was #3f3f3f then 3d3d3d*/
}

/*TODO: Clean file up and make selectors more consistent*/

/* Changes for light mode */
/*.bn-container[data-color-scheme="light"] {
    --bn-colors-editor-background: #fefefe;
}*/

.bn-default-styles {
    /*--bn-font-family: var(--lc-font-sans-serif);*/
    font-family: var(--lc-font-sans-serif);
}

/*maybe unnecessary*/
.bn-container[data-color-scheme] .bn-editor {
    /*--bn-font-family: var(--lc-font-sans-serif);*/
    font-family: var(--lc-font-sans-serif);
}

.bn-container[data-color-scheme] .bn-editor {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 50px; /*TODO: Maybe increase to 52px later*/
    padding-inline-end: 8px !important;
    /*TODO: Maybe revert inline padding to default if enough space is available*/
    min-height: 100px;
    border: 1px solid var(--color-border);
}

.bn-container[data-color-scheme] .bn-editor[contenteditable="false"] {
    padding-inline: 8px !important;
    padding-top: 0px;
}

.bn-container[data-color-scheme].bn-shadcn .bn-side-menu {
    margin-right: 1px; /*Incrased distance to block content slightly*/
}

.bn-container[data-color-scheme].bn-shadcn
    .bn-side-menu
    .bn-menu-dropdown.bn-drag-handle-menu
    div[role="menuitem"]:first-child {
    color: #ff645e;
}

.bn-container[data-color-scheme="light"].bn-shadcn
    .bn-side-menu
    .bn-menu-dropdown.bn-drag-handle-menu
    div[role="menuitem"]:first-child:hover {
    /*color: var(--color-destructive);*/
    background-color: oklch(from var(--color-destructive) l c h / 0.2);
}

.bn-container[data-color-scheme="dark"].bn-shadcn
    .bn-side-menu
    .bn-menu-dropdown.bn-drag-handle-menu
    div[role="menuitem"]:first-child:hover {
    color: var(--color-destructive);
    background-color: oklch(from var(--color-destructive) l c h / 0.3);
}

/*.bn-container[data-color-scheme]
    .bn-editor[contenteditable="true"]
    .bn-block-group {
    padding-left: 2px;
}*/

/* Hide toolbars anywhere when a disabled bm-content exists */
/*.bn-editor[contenteditable="false"] [data-floating-ui-focusable],
.bn-editor[contenteditable="false"] .bn-toolbar {
    display: none !important;
}*/

/*.bn-container:has(.bn-editor[contenteditable="false"])
    [data-floating-ui-focusable] {
    display: none !important;
}*/

/*.bn-container[data-color-scheme] .bn-suggestion-menu {
    --bn-ui-base-z-index: 1000;
}*/
/*.bn-shadcn [data-floating-ui-focusable]*/
/*.bn-container[data-color-scheme]
    .bn-toolbar
    [data-radix-popper-content-wrapper]
    [data-radix-menu-content].bn-color-picker-dropdown {
    /*max-height: calc(65dvh - 184px);
    max-height: 70dvh;
    /*margin-bottom: 172px;
    /*transform: translateY(-112px) !important;
}*/

/*.bn-container[data-color-scheme]
    .bn-toolbar
    [data-radix-popper-content-wrapper]:has(
        [data-radix-menu-content].bn-color-picker-dropdown
    ) {
    --radix-popper-available-height: calc(40dvh - 184px) !important;
}*/

/*TODO: Fix the toolbar Text formatter dropdown like this below.*/
.bn-container[data-color-scheme]
    .bn-toolbar
    [data-radix-popper-content-wrapper]
    [data-radix-menu-content].bn-color-picker-dropdown {
    height: 50vh;
}

.bn-container[data-color-scheme]
    .bn-side-menu
    [data-radix-popper-content-wrapper]
    [data-radix-menu-content].bn-color-picker-dropdown {
    max-height: calc(100vh - 280px);
    margin-bottom: 208px;
    /*transform: translateY(-112px) !important;*/
}

.bn-container[data-color-scheme]
    .bn-side-menu
    [data-radix-popper-content-wrapper]
    [data-radix-menu-content]:not(.bn-color-picker-dropdown) {
    /*max-height: calc(100vh - 124px);*/
    margin-bottom: 100px;
}

.bn-container[data-color-scheme] .bn-toolbar {
    /*Make space for scrollbar maybe change to calc(100vw - 10px) (or width of scrollbar)*/
    max-width: 97vw;
}

.bn-container[data-color-scheme]:has(.bn-editor[contenteditable="false"])
    .bn-toolbar {
    display: none !important;
}

/*Should affect link and image related input fields*/
/*bn-formatting-toolbar*/
.bn-container[data-color-scheme]
    .bn-toolbar
    .bn-text-input
    input[data-slot="input"],
.bn-container[data-color-scheme]
    .bn-toolbar.bn-formatting-toolbar
    input[data-slot="input"] {
    border-radius: calc(0.25em + 1px);
    padding-inline: calc(0.25em + 1px);
}

/*Place lower for accessibility*/
.bn-container[data-color-scheme] .bn-toolbar.bn-link-toolbar {
    margin-bottom: -10px;
}

.bn-container[data-color-scheme] .bn-table-handle:is(button) {
    padding-inline: 0;
    width: 20px;
    background-color: light-dark(#ededed, #2e343d);
}

.bn-container[data-color-scheme] .bn-table-handle:is(button):hover {
    background-color: light-dark(#aaaaaa, #414b59);
}

.bn-container[data-color-scheme].bn-shadcn .bn-side-menu .bn-button:is(button) {
    height: 24px;
    width: 24px;
    border-radius: 6px;
}

/*Same as: .bn-container button.bn-button:hover */
.bn-container[data-color-scheme].bn-shadcn
    .bn-side-menu
    .bn-button:is(button):hover {
    background-color: light-dark(#ededed, #2e343d);
}

.bn-container[data-color-scheme].bn-shadcn .bn-side-menu .bn-button:is(button) {
    &[aria-expanded="true"] {
        background-color: light-dark(#d4d4d4, #3a3f4a);
    }
}

.bn-container[data-color-scheme]
    .bn-button:is(button)[aria-label="Open block menu"] {
    cursor: grab;
}

/*.bn-container .bn-button:is(button)[aria-label="Open block menu"]:active {
    cursor: grabbing;
}
.bn-container .bn-button:is(button)[aria-label="Open block menu"]:active:hover {
    cursor: grabbing;
}*/

.bn-container[data-color-scheme] .bn-panel {
    border: 1px solid var(--color-border);
    max-width: 85vw;
}

.bn-container[data-color-scheme] .bn-extend-button-add-remove-rows {
    max-height: 18px; /*width: ; of .bn-extend-button-add-remove-columns*/
    padding-inline: 0; /*Was 0px*/
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
    /*TODO: Prevent too much overflow*/
    /*max-width: 70vw;*/
}

.bn-container[data-color-scheme] .bn-extend-button-add-remove-columns {
    max-width: 18px; /*Height of .bn-extend-button-add-remove-rows*/
    padding-inline: 0; /*Was 6px*/
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
    /*TODO: Prevent too much overflow*/
}

.bn-container[data-color-scheme="dark"] .bn-extend-button-add-remove-rows,
.bn-container[data-color-scheme="dark"] .bn-extend-button-add-remove-columns {
    background-color: #181c20;
    border-color: #32363b;
}

.bn-container[data-color-scheme] .bn-editor code::spelling-error,
.bn-container[data-color-scheme] .bn-editor pre::spelling-error,
.bn-container[data-color-scheme] .bn-editor code::grammar-error,
.bn-container[data-color-scheme] .bn-editor pre::grammar-error {
    text-decoration: none;
    text-decoration-line: none;
}

.bn-container[data-color-scheme="dark"]
    .bn-code-content
    .bn-block-content[data-content-type="codeBlock"]
    select
    option {
    margin-left: 6px;
    background-color: #232323;
    color: var(--color-foreground);
}

/*.bn-code-content and .bn-table-content can be replaced by bn-block or unified in to .bn-block-custom*/
/* * NOTE: Custom Styles for BlockNote*/
.bn-code-content
    .bn-block-content:not([data-content-type="codeBlock"])
    :not(pre)
    code {
    background-color: light-dark(#00000012, #ffffff12);
    font-variant-ligatures: none; /*Maybe add ligatures later*/
    color: var(--lc-text-color-monospace);
    /*border-radius: 4px;*/
    border-radius: calc(0.1em + 3px);
    padding: 0.1rem 0.28em 0.1rem; /*Shorthand definition*/
    font-family: var(--lc-font-monospace);
    font-size: calc(1em - 2px); /*MAYBE: Adjust later*/
    font-weight: 400; /*Hevier font for better readability, due to different display in light mode*/
}

.bn-container[data-color-scheme="dark"]
    .bn-block-content:not([data-content-type="codeBlock"])
    :not(pre)
    code {
    font-weight: 300 !important;
}

.bn-code-content .bn-block-content[data-content-type="codeBlock"] pre code {
    font-family: var(--lc-font-monospace);
    font-variant-ligatures: none; /*Maybe add ligatures later*/
    font-size: 14px; /*MAYBE: Adjust later*/
    font-weight: 300;
    /*line-height: 1.2;*/
}

.bn-container[data-color-scheme="dark"]
    .bn-block-content[data-content-type="codeBlock"] {
    /*border: 1px solid var(--color-border);*/
    background-color: #111116; /*was: #101015*/
}

.bn-container[data-color-scheme="light"]
    .bn-block-content[data-content-type="codeBlock"] {
    background-color: #202020;
}

/*.bn-container[data-color-scheme]
    .bn-block-content[data-content-type="codeBlock"] {
    background-color: light-dark(#202020, #111116);
}*/

.bn-table-content .bn-block-content[data-content-type="table"] th {
    background-color: light-dark(#00000009, #ffffff09);
}

.bn-container[data-color-scheme="dark"]
    .bn-block-content[data-content-type="table"]
    th,
.bn-container[data-color-scheme="dark"]
    .bn-block-content[data-content-type="table"]
    td {
    border: 1px inset var(--color-border) !important;
    /*border-collapse: collapse;
    border-spacing: 0;*/
}

.bn-container[data-color-scheme]
    .bn-table-content
    .bn-block-content[data-content-type="table"]
    .tableWrapper {
    margin-right: 5px;
}

/*.bn-container[data-color-scheme]
    .bn-table-content
    .bn-block-content[data-content-type="table"]
    .tableWrapper
    .tableWrapper-inner
    table {
    margin-right: 100px;
}*/

/*.bn-container:has(.bn-editor[contenteditable="true"])
    .bn-block-content[data-content-type="table"]
    table {
    max-width: 85vw;
}*/

/*.bn-table-border table th td {
    border-color: var(--color-border);
}*/

.bn-container[data-color-scheme="dark"]
    .bn-block-content[data-content-type="quote"]
    blockquote {
    color: #b0b0b2;
    border-left: 2px solid #75757c;
}

.bn-container[data-color-scheme="dark"]
    .bn-block-content[data-content-type="divider"]
    hr {
    border-top: 1px solid #75757c;
}

/*TODO: overhaul and make all selectors more consistent, to avoid inconsistent behavior*/
