/* Base theme */
.bn-container[data-color-scheme] {
    --bn-font-family:
        "Wix Madefor Text", system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: normal;
    scrollbar-color: light-dark(#8b8b8b, #9f9f9f) transparent;
}

/* Changes for dark mode */
.bn-container[data-color-scheme="dark"] {
    color-scheme: dark;
}

.bn-container[data-color-scheme] .bn-editor {
    --bn-font-family:
        "Wix Madefor Text", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: var(--bn-font-family);
}

.bn-default-styles {
    --bn-font-family:
        "Wix Madefor Text", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: var(--bn-font-family);
}

.bn-editor {
    padding-top: 8px;
    padding-inline-start: 50px;
    padding-inline-end: 8px !important;
    min-height: 100px;
    border-color: var(--color-border);
    border-width: 1px;
    border-style: solid;
}

.bn-editor[contenteditable="false"] {
    padding-inline: 8px !important;
    padding-top: 0px;
}

.bn-shadcn .bn-toolbar {
    max-width: 97vw;
}

/* Hide toolbars anywhere when a disabled bm-content exists */
/*.bn-editor[contenteditable="false"] [data-floating-ui-focusable],
.bn-editor[contenteditable="false"] .bn-toolbar {
    display: none !important;
}*/

.bn-container:has(.bn-editor[contenteditable="false"]) .bn-toolbar {
    display: none !important;
}

/*.bn-container:has(.bn-editor[contenteditable="false"])
    [data-floating-ui-focusable] {
    display: none !important;
}*/

.bn-container .bn-table-handle:is(button) {
    padding-inline: 0;
    background-color: light-dark(#eeeeee, #333333);
}

.bn-container .bn-table-handle:is(button):hover {
    background-color: light-dark(#aaaaaa, #111111);
}

/*Same as: .bn-container button.bn-button:hover */
.bn-container .bn-button:is(button):hover {
    background-color: light-dark(#eeeeee, #333333);
}

.bn-container .bn-button:is(button)[aria-label="Open block menu"] {
    cursor: grab;
}

/*.bn-container .bn-button:is(button)[aria-label="Open block menu"]:active {
    cursor: grabbing;
}
.bn-container .bn-button:is(button)[aria-label="Open block menu"]:active:hover {
    cursor: grabbing;
}*/

.bn-container .bn-panel {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    max-width: 85vw;
}

.bn-container .bn-extend-button-add-remove-columns {
    padding-inline: 6px;
}

/*.bn-container .bn-extend-button-add-remove-rows {

}*/

.bn-editor code::spelling-error,
.bn-editor pre::spelling-error,
.bn-editor code::grammar-error,
.bn-editor pre::grammar-error {
    text-decoration: none;
    text-decoration-line: none;
}

/* * NOTE: Custom Styles for BlockNote*/
.bn-code-content
    .bn-block-content:not([data-content-type="codeBlock"])
    :not(pre)
    code {
    background-color: light-dark(#00000012, #ffffff12);
    font-variant-ligatures: none; /*Maybe add ligatures later*/
    color: var(--lc-text-color-monospace);
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font-family: var(--lc-font-monospace);
    font-size: calc(1em - 2px); /*MAYBE: Adjust later*/
    font-weight: 400; /*Hevier font for better readability, due to different display in light mode*/
}

.bn-container[data-color-scheme="dark"]
    .bn-block-content:not([data-content-type="codeBlock"])
    :not(pre)
    code {
    font-weight: 300 !important;
}

.bn-code-content .bn-block-content[data-content-type="codeBlock"] pre code {
    font-family: var(--lc-font-monospace);
    font-variant-ligatures: none; /*Maybe add ligatures later*/
    font-size: 14px; /*MAYBE: Adjust later*/
    font-weight: 300;
    /*line-height: 1.2;*/
}

.bn-table-header .bn-block-content[data-content-type="table"] th {
    background-color: light-dark(#00000009, #ffffff11);
}

/*.bn-table-border table th td {
    border-color: var(--color-border);
}*/
