#root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

html {
    overflow-x: hidden;
}

/*NOTE: Prevents layout shift when editing with editor*/
body[data-scroll-locked] {
    /*margin-right: 0 !important;*/
    --removed-body-scroll-bar-size: 0;
    /*Does no longer prevent layout shift by dropdown (shadcn-ui/radix), must put this as a style property in the body with !important declaration
    to do this, set margin-right to 0 !important. Do this only if no layout shift is needed (via id might work too)*/
}

.lc-page-container {
    max-width: 1280px;
    padding: 12px;
    padding-right: calc(var(--lc-scrollbar-offset) + 2px);
    margin-inline: auto;
    margin-top: 60px; /*Account for TopBar height. was: 58px*/
    margin-bottom: 60px; /*Account for BottomNavigation height. was: 58px (opt out on a page level)*/
    /*inset-inline: 0;*/
}

/*.lc-top-bar {

}

.lc-bottom-navigation {
}*/

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #54bc4ae0);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.test-app {
    color: var(--color-red-700);
}
