#root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 102px; /*was 58px, increase to account for hover-able page header*/
    scroll-padding-bottom: 64px;
    /*&::-webkit-scrollbar-button {
        height: 10px;
        width: 10px;
    }
    &.light::-webkit-scrollbar-button {
        background-color: #ededed;
    }
    &.dark::-webkit-scrollbar-button {
        background-color: #0d111b;
    }*/
}
/*Account for TopBar height. was: 60px*/
/*Account for BottomNavigation height. was: 60px (opt out on a page level)*/

#lc-body {
    margin-right: 0 !important;
    /*Prevents layout shift when editing with editor*/
}

/*NOTE: Prevents layout shift when editing with editor*/
body[data-scroll-locked] {
    /*margin-right: 0 !important;*/
    --removed-body-scroll-bar-size: 0;
    /*Does no longer prevent layout shift by dropdown (shadcn-ui/radix), must put this as a style property in the body with !important declaration
    to do this, set margin-right to 0 !important. Do this only if no layout shift is needed (via id might work too)*/
}

.lc-page-container {
    /*max-width: 1280px;*/
    padding: 12px;
    padding-right: calc(var(--lc-scrollbar-offset) + 2px);
    /*margin-inline: auto;*/
    margin-top: 58px; /*Account for TopBar height. was: 60px*/
    margin-bottom: 58px; /*Account for BottomNavigation height. was: 60px (opt out on a page level)*/
    /*inset-inline: 0;*/
    -webkit-user-select: none;
    user-select: none;
}

.lc-page-container-inner {
    max-width: 1256px;
    margin-inline: auto;
    /*inset-inline: 0;*/
}
