:global(html:has(#lc-home-page)) {
    scroll-padding-top: 72px;
    scroll-padding-bottom: 132px;
}

.bottomFooter :global(.lc-bottom-bar-styled-bg) {
    box-shadow: inset 0 -64px 16px -16px
        color-mix(in srgb, var(--background), transparent 55%);
    /*Maybe later change to 20% transparency, to match bottom-navigation*/
}

:global(.dark) .bottomFooter :global(.lc-bottom-bar-styled-bg) {
    box-shadow: inset 0 -64px 16px -16px
        color-mix(in srgb, var(--background), transparent 25%);
    /*Maybe later change to 20% transparency, to match bottom-navigation*/
}

.bottomFooter :global(.lc-bottom-bar-styled-bg)::before {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    /*Maybe later change to 16px blur, to match bottom-navigation*/
}
