#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0;
    text-align: center;
}

html {
    max-width: calc(var(--spacing) * 86);
    /*good as is with only home page*/
    scroll-padding-top: 72px;
    scroll-padding-bottom: 72px;
    /*scrollbar-width: none !important;*/
}
