#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.2rem;
    padding-bottom: 0;
    text-align: center;
}

html {
    max-width: calc(var(--spacing) * 86);
    /*scrollbar-width: none !important;*/
}
