/*disable user selection*/
* {
    -webkit-user-select: none;
    user-select: none;
}

html {
    scroll-padding-top: 82px;
    scroll-padding-bottom: 72px;
    /*scrollbar-width: none !important;*/
}
