:global(html:has(#lc-entry-edit-page)) {
  /*For BlockNoteView (better accessibility)*/
  scroll-padding-top: 102px;
  scroll-padding-bottom: 74px;
}

.bottomFooter :global(.lc-bottom-bar-styled-bg) {
  --shadow-main: color-mix(in srgb, var(--background), transparent 45%);
  --shadow-secondary: color-mix(in srgb, var(--background), transparent 40%);

  box-shadow:
    inset 0 -74px 22px -22px var(--shadow-main),
    inset 0 -44px 30px -26px var(--shadow-secondary) !important;
}

:global(.dark) .bottomFooter :global(.lc-bottom-bar-styled-bg) {
  --shadow-main: color-mix(in srgb, var(--background), transparent 40%);
  --shadow-secondary: color-mix(in srgb, var(--background), transparent 35%);
}
