.lc-bottom-bar-styled-bg {
    box-shadow: inset 0 -114px 22px -22px
        color-mix(in srgb, var(--background), transparent 65%) !important;
}

.dark .lc-bottom-bar-styled-bg {
    box-shadow: inset 0 -114px 22px -22px
        color-mix(in srgb, var(--background), transparent 35%) !important;
}

.scrollbar-thin {
    scrollbar-width: thin;
    /*scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);*/
}
