html {
    /*For BlockNoteView (better accessibility)*/
    scroll-padding-top: 72px;
    scroll-padding-bottom: 132px;
}

.lc-bottom-bar-styled-bg {
    box-shadow: inset 0 -114px 22px -22px
        color-mix(in srgb, var(--background), transparent 45%) !important;
}

.dark .lc-bottom-bar-styled-bg {
    box-shadow: inset 0 -114px 22px -22px
        color-mix(in srgb, var(--background), transparent 35%) !important;
}

/*.light */
.lc-bottom-bar-styled-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -2; /*behind the main bg, instead of above with -1*/
    box-shadow: inset 0 -64px 30px -26px
        color-mix(in srgb, var(--background), transparent 35%);
}

.dark .lc-bottom-bar-styled-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -2; /*behind the main bg, instead of above with -1*/
    box-shadow: inset 0 -64px 30px -20px
        color-mix(in srgb, var(--background), transparent 25%);
}

/*.lc-bottom-bar-styled-bg-extra-shadow {
    box-shadow: inset 0 -88px 20px -20px
        color-mix(in srgb, var(--background), transparent 85%) !important;
}

.dark .lc-bottom-bar-styled-bg-extra-shadow {
    box-shadow: inset 0 -88px 20px -20px
        color-mix(in srgb, var(--background), transparent 55%) !important;
}*/
