/*@view-transition {
    navigation: auto;
}*/

/*::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.15s;
}*/

@keyframes icon-pop {
    0% {
        /* Start at the hover scale to catch the transition */
        transform: scale(1.1);
    }
    /*25% {
        transform: scale(1.12);
    }*/
    /* Optional: small bounce */
    50% {
        transform: scale(0.92); /*MAYBE: Change to 0.91 or 0.9*/
    }
    100% {
        transform: scale(1);
    }
}

.animate-icon-pop {
    /* This ensures the active icon 'lands' smoothly */
    animation: icon-pop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; /*was: 0.25s without small bounce*/
}

/*@keyframes icon-pop-in {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.animate-icon-pop-in {
    animation: icon-pop-in 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        forwards;
}*/
