/* Lexicora Custom Styles and classes */

/*Component styles for bottom bar background blur effect*/
.lc-bottom-bar-styled-bg {
    /*box-shadow: inset 0 -26px 16px 0px var(--background);*/
    /*box-shadow: inset 0 -26px 16px 0px
        color-mix(in srgb, var(--background), transparent 30%);*/
    /*box-shadow: inset 0 -40px 16px -14px var(--background);*/
    box-shadow: inset 0 -64px 16px -16px
        color-mix(in srgb, var(--background), transparent 65%);
}

.dark .lc-bottom-bar-styled-bg {
    box-shadow: inset 0 -64px 16px -16px
        color-mix(in srgb, var(--background), transparent 35%);
}

.lc-bottom-bar-styled-bg::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*background-color: hsl(var(--background) / 0.8);*/
    -webkit-mask: linear-gradient(transparent, black, black);
    mask: linear-gradient(transparent, black, black);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

/*Second optional shadow, to make backdrop even darker (if necessary)
MAYBE: Change selector to different class entirely for this, since it is "opt in"
Should be implemented separately in scoped styles, with a new css class/selector (to manually enable) or
override the standard bottom bar class*/
/*.lc-bottom-bar-styled-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
    box-shadow: inset 0 -64px 16px -16px
        color-mix(in srgb, var(--background), transparent 80%);
}

.dark .lc-bottom-bar-styled-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
    box-shadow: inset 0 -64px 16px -16px
        color-mix(in srgb, var(--background), transparent 50%);
}*/
