/*Utilities*/

.scrollbar-thin {
    scrollbar-width: thin;
    /*scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);*/
}

/*Has default specified scrollbar foreground colors*/
.scrollbar-bg-transparent {
    scrollbar-color: #b2b2b2 transparent; /*was: light-dark(#b2b2b2, #646464)*/
}

.dark .scrollbar-bg-transparent {
    scrollbar-color: #535961 transparent; /*was: light-dark(#b2b2b2, #646464)*/
}

/* Manual Override: Completely Disable Transitions */
/* Add this class to the element (or a parent) to kill all animation */
.lc-no-transitions,
.lc-no-transitions * {
    transition: none !important;
    animation: none !important;
}
